Binaries
DerivedDataCache
Intermediate
Saved
WindowsNoEditor
Content/OtherPacks
Content/InfinityBladeEffects
Content/StarterBundle
Content/Polar
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace